.bg-home {
    background: #fff url(../images/bg-header.png) no-repeat top center;
}

@media only screen and (min-width: 1170px){
    .bg-home {
        background-size: 100%;
    }
}

.sd-header {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    padding: 1rem 0;
    -webkit-transition: all .15s ease 0s;
    transition: all .15s ease 0s;
    position: fixed;
}

@media only screen and (min-width: 320px) {
    .sd-header {
        background: #1a5a6b;
    }
}

@media only screen and (min-width: 1170px) {
    .sd-header {
        background: rgba(17, 45, 53, 0.6);
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media only screen and (min-width: 320px) {
    .sd-header #b {
        position: absolute;
        right: 5%;
        top: 30px;
        width: 30px;
        height: 30px;
        display: block;
    }
}

@media only screen and (min-width: 1170px) {
    .sd-header #b {
        display: none;
    }
}

@media only screen and (min-width: 320px) {
    .sd-header #b i {
        display: block;
        width: 100%;
        border-bottom: 3px solid #fff;
        margin-bottom: 5px;
        transition: transform 0.5s, display 1s;
    }
}

.sd-header .logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 100%;
}

.sd-img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

@media only screen and (min-width: 320px) {
    .sd-header .logo {
        width: 119px;
        height: 42px;
        margin: 0 0.825em;
    }
}

@media only screen and (min-width: 1170px) {
    .sd-header .logo {
        width: 160px;
        height: 53px;
        margin-top: 3px;
    }
}

@media (min-width: 768px) {
    .ml-md-auto, .mx-md-auto {
        margin-left: auto!important;
    }
}

@media only screen and (min-width: 320px) {
    .sd-header .menu {
        display: none;
        padding: 4.250em 0 1em;
        width: 100%;
    }
}

@media only screen and (min-width: 1170px) {
    .sd-header .menu {
        float: right;
        margin-top: 1em;
        padding: 0;
        display: block;
        width: auto;
    }
}

@media only screen and (min-width: 1170px) {
    .sd-header .menu li {
        float: left;
        margin: 0 0 0 2.188em;
    }
}

@media only screen and (min-width: 320px) {
    .sd-header .menu li a {
        display: block;
        color: #fff;
        font-family: "titillium_weblight",sans-serif;
        letter-spacing: 0.188em;
        text-transform: uppercase;
        font-size: 16px;
        font-size: 1rem;
        text-decoration: none;
        text-align: center;
        padding-bottom: 1.563em;
    }
}

@media only screen and (min-width: 1170px) {
    .sd-header .menu li a {
        color: #fff;
        font-family: "titillium_weblight",sans-serif;
        letter-spacing: 0.188em;
        text-transform: uppercase;
        font-size: 9px;
        font-size: .5625rem;
        text-decoration: none;
        line-height: 30px;
        display: block;
        border-bottom: 1px solid transparent;
        padding-bottom: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

@media only screen and (min-width: 1170px) {
    .sd-header .menu li a:hover, .sd-header .menu li a.active {
        border-bottom: 1px solid #469acb;
    }
}

.no-touch #sd-vertical-nav {
    display: block;
    position: fixed;
    right: 40px;
    top: 50%;
    bottom: auto;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

.no-touch #sd-vertical-nav li {
    text-align: right;
    margin-bottom: 1em;
}

.no-touch #sd-vertical-nav a {
    display: inline-block;
}

.no-touch #sd-vertical-nav a.is-selected .sd-dot, .no-touch #sd-vertical-nav a:hover .sd-dot {
    background-color: #fff;
}

.no-touch #sd-vertical-nav .sd-dot {
    position: relative;
    top: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -moz-transform-origin: 50% 50% 50%;
    -ms-transform-origin: 50% 50% 50%;
    -webkit-transform-origin: 50% 50% 50%;
    transform-origin: 50% 50% 50%;
    display: block;
}

.no-touch #sd-vertical-nav a span {
    float: right;
    display: inline-block;
}

.no-touch #sd-vertical-nav .sd-label {
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: #fff;
    font-size: 14px;
    font-size: .875rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -moz-transform-origin: 100% 50% 50%;
    -ms-transform-origin: 100% 50% 50%;
    -webkit-transform-origin: 100% 50% 50%;
    transform-origin: 100% 50% 50%;
    display: none;
}

.no-touch #sd-vertical-nav a span {
    float: right;
    display: inline-block;
}

#section1 .box-txt .sd-title {
    font-weight: 900;
    color: #fff;
}

.sd-title {
    font-size: 31px;
    font-size: 1.9375rem;
    position: relative;
    line-height: 1.2;
    margin-bottom: 1.875rem;
}

@media only screen and (min-width: 320px) {
    #section1 .box-txt .sd-title {
        font-size: 32px;
        font-size: 2rem;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    #section1 .box-txt .sd-title {
        font-size: 62px;
        font-size: 2.0rem;
        text-align: left;
    }
}

@media only screen and (min-width: 320px) {
    #section1 .box-txt {
        position: inherit;
        right: auto;
        top: 70%;
    }
}

@media only screen and (min-width: 1170px) {
    #section1 .box-txt {
        position: absolute;
        right: 30px;
        top: 190px;
    }
}

@media only screen and (min-width: 1170px) {
    .head-cont {
        right: 0;
        position: absolute;
    }
}

.bt-default {
    display: inline-block;
    border-radius: 30px;
    background-color: #2799cd;
    border: 0;
    color: #fff;
    line-height: 1.4;
    padding: .75rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (min-width: 320px) {
    .bt-default {
        font-size: 16px;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1170px) {
    .bt-default {
        font-size: 20px;
        font-size: 1.25rem;
    }
}

.sd-section {
    position: relative;
    padding: 32em 0 0;
}

#section3 {
    background-color: #f5f5f5;
}

@media only screen and (min-width: 320px) {
    #section3 {
        height: auto;
        background-size: cover;
    }
}

@media only screen and (min-width: 768px) {
    #section3 {
        height: 728px;
        background-size: initial;
    }
}

.sd-title {
    font-size: 31px;
    font-size: 1.9375rem;
    position: relative;
    line-height: 1.2;
    margin-bottom: 1.875rem;
}


